.loginPage{
    background-image: url(/assets/main-background.png);
    background-size: contain;
}
simple-navbar{
    position: absolute;
}
@media only screen and (max-width: 739px){
    .loginPage{
        background-image: none;
        background-color: black;
    }
}