<div class="main">
  <div class="main-movie">
    <img src="../../../assets/main-page/red-notice.png"/>
    <div class="movie-data">
      <img src="../../../assets/main-page/movie-title.png"/>

      <div class="movie-ranking">
        <img src="../../../assets/main-page/top-10.png"/>
        <h2>Brasil: top 2 de hoje</h2>
      </div>

      <span>
        Um agente do FBI persegue o ladrão de arte mais procurado do mundo. Ele só não esperava ter seu alvo como parceiro para prender uma bandida muito esperta.
      </span>

      <div class="movie-buttons">
        <button>Assistir</button>
        <button>Mais Informações</button>
      </div>
    </div>
  </div>
</div>
