<footer>
    <h1>Dúvidas? Ligue 0800-761-4631</h1>
    <div class="footerLink">
        <ul class="leftSide">
            <li><a href="#">Perguntas frequentes</a></li>
            <li><a href="#">Preferências de cookies</a></li>
            <li><a href="#">Centro de ajuda</a></li>
            <li><a href="#">Informações corporativas</a></li>
            </ul>
            <ul class="rightSide">
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Privacidade</a></li>
            </ul>
    </div>
    
    <p>Netflix Brasil</p>
</footer>
