
<div id="page-container">
<header id="header" class="conteiner-fluid">
    <div id="logoDiv">
        <div id="imgDivLogo"  >
            <img src="assets/netflix.png" >
        </div>
    </div>
    <div class="centralize">
        <div id="centralizeContent">
            <h1>Filmes, séries e muito mais. Sem limites</h1>
            <h2>Assista onde quiser. Cancele quando quiser.</h2>
            <h3>Pronto para assistir? Clique no botão abaixo para ser redirecionado para a tela de login.</h3>
            <app-button [text]="'Entrar'" (click)="SendToLogin()"></app-button>
        </div>
        
    </div>
</header>
<div class="rows">
    <div class="rowContentRight">
        <div class="text-container">
           <h4>Aproveite na TV.</h4>
            <p>Assista em Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos.</p> 
        </div>
        <div class="imgDiv " >
            
            <img src="assets/landing-page/landing-1.png" >
            
        </div>
    </div>
</div>
<div class="rows">
    <div class="rowContentLeft">
        <div class="text-container">
           <h4>Baixe séries para assistir offline.</h4>
            <p>Salve seus títulos favoritos e sempre tenha algo para assistir.</p> 
        </div>
        <div class="imgDiv" id="landing1-div">
            
                <img src="assets/landing-page/landing-2.png" >
            
            
        </div>
    </div>
</div>
<div class="rows">
    <div class="rowContentRight">
        <div class="text-container">
           <h4>Assista quando quiser.</h4>
            <p>Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso.</p> 
        </div>
        <div class="imgDiv" id="landing1-div">
            
            <img src="assets/landing-page/landing-3.png" >
            
        </div>
    </div>
</div>
<div class="rows">
    <div class="rowContentLeft">
        <div class="text-container">
           <h4>Crie perfis para crianças.</h4>
            <p>Deixe as crianças se aventurarem com seus personagens favoritos em um espaço feito só para elas, sem pagar a mais por isso.</p> 
        </div>
        <div class="imgDiv" id="landing1-div">
            
               <img src="assets/landing-page/landing-4.png" > 
            
            
        </div>
    </div>
</div>

<footer>
    <div id="flexFooter">
        <div id="footerContent">
            <h4>Dúvidas? Ligue 0800-761-4631</h4>
            <div id="flexList">
                
                <div id="row-1-servicesList">
                    <ul>
                        <li>Perguntas Frequêntes</li>
                        <li>Relação com investidores</li>
                        <li>Formas de assistir</li>
                        <li>Informações corporativas</li>
                        <li>Só na netflix</li>
                    </ul>
                </div>
                <div id="row-2-servicesList">
                    <ul>
                        <li>Centro de ajuda</li>
                        <li>Carreiras</li>
                        <li>Termos de uso</li>
                        <li>Entre em contato</li>
                    </ul>
                </div>
                <div id="row-3-servicesList">
                    <ul>
                        <li>Conta</li>
                        <li>Resgatar cartão pré-pago</li>
                        <li>Privacidade</li>
                        <li>Teste de velocidade</li>
                    </ul>
                </div>
                <div id="row-4-servicesList">
                    <ul>
                        <li>Imprensa</li>
                        <li>Comprar cartão pré-pago</li>
                        <li>Preferências de cookies</li>
                        <li>Avisos legais</li>
                    </ul>
                </div>
                
            </div>
            <p id="netflixBrasil">Netflix Brasil</p>
            </div>
        </div>
        
    
    
      
</footer>

</div>