<div class="main">
  <div class="main-movie">
    <img class="img-main" src="../../../assets/main-page/red-notice.png"/>
    <div class="movie-data">
      <img class="movie-secondary" src="../../../assets/main-page/movie-title.png"/>

      <div class="movie-ranking">
        <div class="top">
          <span>Top</span>
          <span>10</span>
        </div>
        <h2>Brasil: top 2 de hoje</h2>
      </div>

      <span>
        Um agente do FBI persegue o ladrão de arte mais procurado do mundo. Ele só não esperava ter seu alvo como parceiro para prender uma bandida muito esperta.
      </span>

      <div class="movie-buttons">
        <div class="watch-button"><mat-icon class="play_arrow" aria-hidden="false" aria-label="Play button">play_arrow</mat-icon>Assistir</div>
        <div class="more-info"><mat-icon class="info" aria-hidden="false" aria-label="Play button">info</mat-icon>Mais informações</div>
      </div>
    </div>
  </div>
</div>
