.main{
    overflow-x: hidden;
    background-color: #141414;
    height: 80rem;
}

.main .main-movie{
    position: relative;
}

.main .main-movie .img-main{
    width: 100%;
    height: 80%;
}

.main .main-movie .movie-data{
    position: absolute;
    top: 1rem;
    left: 3rem;

    width: 50%;
    height: 50%;
}

.main .main-movie .movie-data .movie-secondary{
    width: 100%;
    height: 80%;
}

.main .main-movie .movie-data .movie-ranking{
    display: flex;
    align-items: center;
}

.main .main-movie .movie-data .movie-ranking .top{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    background: #E50914;

    width: 3rem;
    height: 3rem;

    border-radius: 8px;

    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main .main-movie .movie-data .movie-ranking .top span{
    font-weight: 900;
    font-size: 14px;
}

.main .main-movie .movie-data .movie-ranking span{
    font-weight: 900;
    font-size: 16px;
}

.main .main-movie .movie-data .movie-ranking h2{
    color: white;
    font-weight: bold;
}

.main .main-movie .movie-data span{
    font-size: 26px;
    color: white;
}

.main .main-movie .movie-buttons{
    margin-top: 1rem;

    display: flex;
    align-items: center;
}

.main .main-movie .movie-buttons div{
    display: flex;
    align-items: center;

    padding: 0.5rem 1.5rem 0.5rem 0.5rem;

    border-radius: 8px;
    margin-right: 1.5rem;

    font-size: 24px;
    font-weight: bold;

    background-color: white;
}

.main .main-movie .movie-buttons .play_arrow{
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}

.main .main-movie .movie-buttons .info{
    margin-right: 0.6rem;
    margin-left: 1rem;
    color: white;
}

.main .main-movie .movie-buttons .more-info{
    color: white;
    background-color: rgba(255, 255, 255, 0.46);
}

.main .main-movie .movie-buttons .watch-button:hover{
    background: rgba(255, 255, 255, 0.57);

    cursor: pointer;
}

.main .main-movie .movie-buttons .more-info:hover{
    background: rgba(255, 255, 255, 0.19);

    cursor: pointer;
}

.main .recommended{
    position: absolute;
    left: 3rem;
    top: 45rem;

    width: 95%;
}

.main .recommended span{
    color: white;

    font-weight: bold;
    font-size: 24px;
}

.main .popular{
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;

    overflow-x: auto;
}

.main .popular .popular-cards{
    margin-right: 1.5rem;
}

.main .popular::-webkit-scrollbar {
    width: 3px;
}

.main .popular::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 8px;
}

.main .popular::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: whitesmoke;
}

@media (max-width: 1100px){
    .main .main-movie{
        display: none !important;
    }

    .main .recommended{
        position: static;

        margin-left: 2rem;
        margin-top: 2rem;
    }
}