.netflixf-Logo {
    fill: #e50914;
    line-height: normal;
    height: 45px;
    width: 167px;
    margin-left:75px;
    margin-top:15px;
}

@media screen and (max-width:950px){
    .netflixf-Logo{
        width: 110px;
        height: 29px;
        margin-left:30px;
        margin-top:15px;
    }
}