.watch-button{
    display: flex;
    align-items: center;

    padding: 0.5rem 1.5rem 0.5rem 0.5rem;

    border-radius: 8px;
    margin-right: 1.5rem;

    font-size: 24px;
    font-weight: bold;

    background-color: white;

    color: #141414;
}

.watch-button .play_arrow{
    margin-right: 0.6rem;
    margin-left: 0.6rem;
}

.watch-button:hover{
    background: rgba(255, 255, 255, 0.57);

    cursor: pointer;
}